.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, and Opera */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-container {
  perspective: 1000px; /* Enables 3D perspective */
}

.card {
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d; /* Ensures child elements are transformed in 3D */
  transition: transform 0.6s ease-in-out; /* Smooth transition for the flip */
}

.card.flipped {
  transform: rotateY(180deg); /* Rotate the card 180 degrees on the Y-axis */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hides the back side when not visible */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
  background-color: #6b46c1; /* Purple background */
  color: white;
}

.card-back {
  background-color: #d6bcfa; /* Light purple background */
  color: black;
  transform: rotateY(180deg); /* Flip the back face to align properly */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
